{
  "extends": "../.eslintrc",
  "rules": {
    "max-nested-callbacks": 0,
    "global-require": 0,
    "no-process-env": 0
  },
  "env": {
    "mocha": true
  },
    "globals": {
        "describe": true,
        "it": true,
        "expect": true,
        "proxyquire": true
    }
}
