{
  "extends": "./node_modules/codestyle/.eslintrc",
  "parser": "babel-eslint",
  "rules": {
    "indent": 0,
      "keyword-spacing": 0,
      "no-shadow": 0,
      "space-before-blocks": 0,
      "no-console": 0,
      "no-process-env": 0,
      "global-require": 0,
      "max-nested-callbacks": 0,
      "quote-props": 0,
      "arrow-spacing": 0,
      "complexity": 0,
      "eqeqeq": 0,
      "no-param-reassign": 0,
      "no-negated-condition": 0
  }
}
